.header-search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
}

.header-searchInput {
  height: 0.9rem;
  padding: 0.625rem;
  border: 1px solid;
  width: 50%;
  border-radius: 8px 0px 0px 8px;
  background-color: rgb(236, 232, 232);
}

.header-searchIcon {
  padding: 0.308rem;
  height: 0.75rem;
  border-radius: 0px 8px 8px 0px;
  background-color: #7e7979;
  border: 1px solid;
}
